body,
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

#root {
  overflow-x: hidden;
}

/* Utility class for preventing horizontal scroll */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
